<nav class="navbar navbar-expand-lg py-3 sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bolder text-uppercase" href="index.html">BernaCode.</a>

        <div class="d-flex align-items-center gap-3 order-lg-3">
        
        <!-- LANG TOGGLE -->
        <div id="lang-toggle" class="lang-switch">
            <span data-lang-content="es">EN</span>
            <span data-lang-content="en">ES</span>
        </div>
        </div>

        <div id="navbarNav" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav gap-4 text-uppercase small fw-bold">
            <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="projects.html">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="stack.html">Stack</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">Sobre mí</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
        </ul>
        </div>
    </div>
</nav>
